In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sao Filipe,CV,2021-10-30 16:24:15,14.8961,-24.4956,80.82,71,91,11.27
1,1,Codrington,AU,2021-10-30 16:24:15,-38.2667,141.9667,42.49,92,1,7.34
2,2,Warud,IN,2021-10-30 16:24:16,21.4667,78.2667,67.75,55,99,5.68
3,3,Guaruja,BR,2021-10-30 16:24:16,-23.9931,-46.2564,85.60,47,75,1.01
4,4,San Quintin,MX,2021-10-30 16:24:17,30.4833,-115.9500,66.27,79,0,4.79

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sao Filipe,CV,2021-10-30 16:24:15,14.8961,-24.4956,80.82,71,91,11.27
3,3,Guaruja,BR,2021-10-30 16:24:16,-23.9931,-46.2564,85.60,47,75,1.01
8,8,Mutoko,ZW,2021-10-30 16:24:19,-17.3970,32.2268,82.38,25,59,9.44
13,13,Manokwari,ID,2021-10-30 16:24:21,-0.8667,134.0833,78.06,80,86,4.12
15,15,Victoria,HK,2021-10-30 16:24:16,22.2855,114.1577,75.25,83,67,8.01
16,16,San Patricio,US,2021-10-30 16:24:22,28.0170,-97.5169,76.05,21,0,5.26
17,17,Sembe,CG,2021-10-30 16:24:23,1.6481,14.5806,79.90,77,96,1.43
18,18,Marsh Harbour,BS,2021-10-30 16:24:24,26.5412,-77.0636,80.78,65,70,22.84
23,23,Olinda,BR,2021-10-30 16:24:26,-8.0089,-34.8553,83.93,61,40,11.50
28,28,Bengkulu,ID,2021-10-30 16:24:27,-3.8004,102.2655,77.79,90,100,4.85

In [13]:
preferred_cities_df.count()

City_ID       157
City          157
Country       157
Date          157
Lat           157
Lng           157
Max Temp      157
Humidity      157
Cloudiness    157
Wind Speed    157
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0      Sao Filipe      CV     80.82  14.8961  -24.4956
3         Guaruja      BR     85.60 -23.9931  -46.2564
8          Mutoko      ZW     82.38 -17.3970   32.2268
13      Manokwari      ID     78.06  -0.8667  134.0833
15       Victoria      HK     75.25  22.2855  114.1577
16   San Patricio      US     76.05  28.0170  -97.5169
17          Sembe      CG     79.90   1.6481   14.5806
18  Marsh Harbour      BS     80.78  26.5412  -77.0636
23         Olinda      BR     83.93  -8.0089  -34.8553
28       Bengkulu      ID     77.79  -3.8004  102.2655

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Sao Filipe,CV,80.82,14.8961,-24.4956,Hotel Xaguate
3,Guaruja,BR,85.60,-23.9931,-46.2564,Charme Hotel Guarujá
8,Mutoko,ZW,82.38,-17.3970,32.2268,Mutoko Hotel
13,Manokwari,ID,78.06,-0.8667,134.0833,Swiss Belhotel Manokwari
15,Victoria,HK,75.25,22.2855,114.1577,Mini Hotel Central
16,San Patricio,US,76.05,28.0170,-97.5169,"Motel 6 Sinton, TX"
17,Sembe,CG,79.90,1.6481,14.5806,
18,Marsh Harbour,BS,80.78,26.5412,-77.0636,Abaco Beach Resort
23,Olinda,BR,83.93,-8.0089,-34.8553,Hotel Albergue de Olinda
28,Bengkulu,ID,77.79,-3.8004,102.2655,Grage Hotel Bengkulu

In [19]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))